@{
    ViewData["Title"] = "Home Page";
}

<section class="home-section">

    <div class="home-img">
        <div class="container pt-100">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-white">The<br>cleverest way <br> of managing your store</h1>
                    <br>
                    <a asp-area="" asp-action="GetStarted" asp-controller="Home" class="btn btn-lg btn-dark btn-block">Get Started</a>
                </div>
                <div class="col-md-8">
                    <img class="img-fluid float-right" src="~/img/home.png"/>
                </div>
            </div>
        </div>
    </div>

</section>
